/* Navbar */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./components/landing-background.jpg") fixed center no-repeat;
  background-size: cover;
  height: 100vh;
}

.navBar {
  background-color: #001529;
  height: 4rem;
  border-color: #666;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section {
  position: relative;
  left: 3rem;
}

.logo {
  font-size: xx-large;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.navLists {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navLists li {
  color: #d9d9d9;
  margin-right: 7rem;
  align-content: center;
  cursor: pointer;
}

.navLists li:hover {
  color: white;
}

.navLists .link {
  color: #d9d9d9;
  margin-left: 2rem;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
}

.navLists .link:hover {
  color: white;
}

/* Collapsible Navbar Styles */
.collapsed {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: #001529;
  text-align: center;
  z-index: 1;
}

.collapsed .link {
  padding: 1rem;
  color: white;
}

/* Hamburger Icon Styles */
.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  margin-right: 1rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Media Query for Small Screens */
@media (max-width: 650px) {
  .navLists {
    display: none;
  }

  .collapsed {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

/* Dropdown Menu */

.dropDown {
  width: fit-content;
  position: relative;
}

li a {
  display: block;
  color: #d9d9d9;
  text-decoration: none;
}

li :hover {
  color: white;
}

.dropDown .dropdnOptions {
  position: relative;
  width: 7rem;
  top: 1.2rem;
  padding: 8px;
  opacity: 1;
}

/* Homepage */
.homepage {
  height: 100rem;
  margin: 0 auto;
}



/* Homepage Initial Texts */
.homepage .p1 {
  position: relative;
  left: 45.2%;
  top: 5%;
  width: fit-content;
  font-weight: 800;
  font-size: 15rem;
  color: white;
  text-shadow: white 1px 1px 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.homepage .p2 {
  position: relative;
  left: 44%;
  top: 3%;
  width: fit-content;
  font-weight: 600;
  font-size: 4rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.homepage .p3 {
  position: relative;
  left: 43%;
  top: 3%;
  width: fit-content;
  font-size: 1.5rem;
  flex-wrap: wrap;
  color: white;
}


/* Link Button */
.homepage .learnMore {
  padding: 1rem;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  position: relative;
  left: 46.4%;
  top: 8%;
}


.homepage .learnMore:hover{
  box-shadow: #007c9e 0px 0px  10px;
  transition: .2s all ease-out;
}



/* Arrow */

.homepage svg{
  color: white;
  height: 2rem;
  position: relative;
  left: 49%;
}

/*  Arrow Animation  */

.homepage .downArrow{
  position: relative;
  top: 20%;
  -webkit-animation: mover 1s infinite alternate;
  animation:  mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
