/* Navbar */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./components/landing-background.jpg") fixed center no-repeat;
  background-size: cover;
  height: 100vh;
}

.navBar {
  background-color: #001529;
  height: 4rem;
  border-color: #666;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section {
  position: relative;
  left: 3rem;
}

.logo {
  font-size: xx-large;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.navLists {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navLists li {
  color: #d9d9d9;
  margin-right: 7rem;
  align-content: center;
  cursor: pointer;
}

.navLists li:hover {
  color: white;
}

.navLists .link {
  color: #d9d9d9;
  margin-left: 2rem;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
}

.navLists .link:hover {
  color: white;
}

/* Collapsible Navbar Styles */
.collapsed {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: #001529;
  text-align: center;
  z-index: 1;
}

.collapsed .link {
  padding: 1rem;
  color: white;
}

/* Hamburger Icon Styles */
.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  margin-right: 1rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Media Query for Small Screens */
@media (max-width: 630px) {
  .navLists {
    display: none;
  }

  .collapsed {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .languageLinks {
    display: flex;
  }
}

/* Dropdown Menu */

.dropDown {
  width: fit-content;
  position: relative;
}

li a {
  display: block;
  color: #d9d9d9;
  text-decoration: none;
}

li :hover {
  color: white;
}

.dropDown .dropdnOptions {
  position: relative;
  width: 7rem;
  top: 1.2rem;
  padding: 8px;
  opacity: 1;
}

/* Homepage */
.homepage {
  height: 48rem;
  margin: 0 auto;
}

/* Homepage Initial Texts */
.homepage .p1 {
  position: relative;
  left: 45.2%;
  top: 12%;
  width: fit-content;
  font-weight: 800;
  font-size: 15rem;
  color: white;
  text-shadow: white 1px 1px 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.homepage .p2 {
  position: relative;
  left: 44%;
  top: 5%;
  width: fit-content;
  font-weight: 600;
  font-size: 4rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.homepage .p3 {
  position: relative;
  left: 43%;
  top: 6%;
  width: fit-content;
  font-size: 1.5rem;
  flex-wrap: wrap;
  color: white;
}

/* Link Button */
.homepage .learnMore {
  padding: 1rem;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  position: relative;
  left: 46.4%;
  top: 22%;
}

.homepage .learnMore:hover {
  box-shadow: #007c9e 0px 0px 10px;
  transition: 0.2s all ease-out;
}

/* Arrow */

.homepage svg {
  color: white;
  height: 2.5rem;
  width: 2%;
  position: relative;
  left: 49%;
  margin-top: 4.5%;
}

/*  Arrow Animation  */

.homepage .downArrow {
  position: relative;
  top: 30%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/* Programming laguages */

.languageLinks {
  background-color: white;
  height: 30rem;
  text-align: center;
}

.languageLinks .languageHeader {
  position: relative;
  top: 4rem;
  color: #665;
  flex-wrap: wrap;
}

/* icons(links) */
.languageLinks .container {
  position: relative;
  top: 9rem;
  display: flex;
  justify-content: space-evenly;
}

.languageLinks button {
  border-radius: 10px;
  border: white 1px solid;
  box-shadow: rgb(206, 206, 206) 8px 8px 10px;
  cursor: pointer;
}

.languageLinks img {
  height: 9rem;
  width: 8rem;
  transition: all 0.2s ease-in-out;
}

.languageLinks img:hover {
  transform: scale(1.2);
}

/* Description */
h1{
  color: #665;
  background-color: white;
  text-align: center;
}

.description {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 50rem;
}

.description svg {
  width: 9rem;
  color: #001529;
  padding: 2rem;
  border-radius: 125rem;
 
  transition: all 0.3s ease-in-out;
}

.description svg:hover {
  background: linear-gradient(
    115deg,
    rgb(141, 216, 22) 0.6369426751592356%,
    rgb(15, 197, 239) 100%
  );
}


.description span {
  width: 9rem;
  color: #001529;
  border-radius: 125rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
 
}

.description h2 {
  font-weight: normal;
}
