/* Navbar */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./components/landing-background.jpg') fixed center no-repeat;
  background-size: cover;
  height: 100vh;
}

.navBar {
  background-color: #001529;
  height: 4rem;
  border-color: #666;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: xx-large;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.navLists {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navLists li {
  color: #d9d9d9;
  margin-left: 2rem;
  align-content: center;
  cursor: pointer;
}

.navLists li:hover {
  color: white;
}

.navLists .link {
  color: #d9d9d9;
  margin-left: 2rem;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
}

.navLists .link:hover {
  color: white;
}

/* Collapsible Navbar Styles */
.collapsed {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: #001529;
  text-align: center;
  z-index: 1;
}

.collapsed .link {
  padding: 1rem;
  color: white;
}

/* Hamburger Icon Styles */
.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  margin-right: 1rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Media Query for Small Screens */
@media (max-width: 650px) {
  .navLists {
    display: none;
  }

  .collapsed {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
